/************* custom properties *************/
:root {
	--background-color:rgb(255,255,255);
	--background-grey:rgb(246,246,246);
	--header-grey:rgb(246,246,246);
	--color-text:rgb(158,22,131);
	--link-text:rgb(225,30,186);
	--active-text:rgb(0,0,0);
	--kop-site:rgb(0,0,0);
	--ptekst-artikel:rgb(92,92,92);
	--music-player:rgb(238,238,238);
	--text-kopjes:rgb(158,22,131);
	--button-knop:rgb(254,73,220);
	--sterren-rating:rgb(255,205,0);
	--prijs-kleur:rgb(209,44,42);
	--voorraad-info:rgb(0,153,0);
	--text-boeken:rgb(255,255,255);
	--background-button:rgb(255,73,220);
	--background-button-hover:rgb(41,103,227);
	--link-focus:rgb(171,24,142);
}

/* media query - root */
@media (prefers-color-scheme:dark) {
:root {
	--header-grey:rgb(46,46,46);
	--background-grey:rgb(46,46,46);
	}
}

/************** main **************/ 
main {
	background-color:var(--background-grey);
	padding-top:1em; 
	padding-bottom:1em; 
}

/************** header **************/
header {
	background-color:var(--header-grey);
}

/************* eerste section *************/
main article:first-child {
	background-color:var(--background-color);
	margin-top:4em;
}

main section:nth-of-type(1) h1 {
	color:var(--kop-site);
	font-size:3em;
	text-align:center;
}

main section:nth-of-type(1) h1:first-child {
    padding: 1em 1em 0;
}

/* grote afbeelding van Willemijn & Giel */
main section:nth-of-type(1) > img {
	padding-left:0.8em;
    padding-right:0.8em;
}

/* artikel opbouw */
main section:nth-of-type(1) h2 {
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
	padding-left:1em;
    font-size:1.8em;
}

main section:nth-of-type(1) h3 {
	color:var(--h2-color);
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
	padding-left:1.5em;
    font-size:1.3em;
}

main article:first-child section:nth-of-type(1) p {
	color:var(--ptekst-artikel);
	background-color:var(--background-color);
	padding-left:2em;
	padding-right:2em;
}

main section:nth-of-type(1) > p:nth-of-type(1) {
	text-align:center;
	padding:1em;
}

/* linkjes in 5de section */
main article:first-child section:nth-of-type(1) p:nth-of-type(5) a {
	color:var(--color-text);
	text-decoration:none;
	font-weight:900;
	outline:none;
	position:relative;
	transition:color .5s;
}

/*** states - linkjes in 5de section ***/
main article:first-child section:nth-of-type(1) p:nth-of-type(5) a:hover {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

main article:first-child section:nth-of-type(1) p:nth-of-type(5) a:focus {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

main article:first-child section:nth-of-type(1) p:nth-of-type(5) a:active {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

/*** media query - eerste section ***/
@media (min-width:85em) {
	main {
		padding-left:15em;
		padding-right:15em;
	}

	main article:first-child {
		margin-left:6em;
		margin-right:10em;
	}

	main article:first-child section:nth-of-type(1) {
		padding-left:0em;
		padding-right:0em;
	}

	main section:nth-of-type(1) h2 {
		padding-left:1.6em;
	}

	main section:nth-of-type(1) h3 {
		padding-left:2.3em;
	}

	main section:nth-of-type(1) img {
		padding-left:0em;
		padding-right:0em;
	}

	main article:first-child section:nth-of-type(1) p {
		background-color:var(--background-color);
		padding-right:3em;
		padding-left:3em;
	}
}

/************** tweede section **************/
main section:nth-of-type(2) {
	margin:2em;
}

/* titel tweede section */
main section:nth-of-type(2) h2 {
	color:var(--text-kopjes);
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
	font-size:1.8em;
}

/* iconen podcast */
main section:nth-of-type(2) ul {
	display:flex;
	gap:1.5em;
	padding-left:0em;
	list-style:none;
}

main section:nth-of-type(2) ul li {
	width:2em;
}

main section:nth-of-type(2) ul li img {
	width:100%;
}

main section:nth-of-type(2) ul li a {
	outline-color:var(--active-text);
}

/*** states - iconen podcast ***/

/* hover - iconen social icons */
main section:nth-of-type(2) nav ul li:hover {
	transform:scale(1.1); 
	-ms-transform:scale(1.1); /* IE 9 */
	-webkit-transform:scale(1.1); /* Safari 3-8 */
}

/* mp3 player */
main section:nth-of-type(2) section {
	background-color:var(--music-player);
	display:grid;
	grid-template-columns:5em 1fr max-content;
	gap:.5em;
}

main section:nth-of-type(2) section h3 {
	grid-column-start:2;
	grid-row-start:1;
	padding-left:0.6em;
}

/* logo */
main section:nth-of-type(2) section > img:nth-of-type(1) {
	grid-column-start:3;
	grid-row-start:1;
	padding-right:2em;
	padding-top:1em;
}

/* willemijn */
main section:nth-of-type(2) section img:nth-of-type(2) {
	grid-column-start:1;
	grid-row-start:1;
	grid-row-end:3;
	width:100%;
	padding:0;
}

/* scrolling text */
main section:nth-of-type(2) section marquee {
	grid-column-start:2;
	grid-column-end:4;
	grid-row-start:2;
	font-family:"Roboto", Arial, Helvetica, sans-serif;
	margin-left:1em;
}

/* button */
main section:nth-of-type(2) section button {
	grid-column-start: 1;
	grid-row-start:3;
	border:solid;
	border-radius:5em;
	border-color:var(--button-knop);
	margin-left:1em;
    margin-bottom:1em;

	outline-color:var(--active-text);
}

/* button img */
main section:nth-of-type(2) section button img:nth-of-type(1) {
    margin:0.7em;
}

/* audio */
main section:nth-of-type(2) section audio {
	display:none;
}

/* audio img */
main section:nth-of-type(2) section img:nth-of-type(3) {
	grid-column-start:2;
	grid-column-end:4;
	grid-row-start:3;
    width:100%;
	max-width:40em;
}

/*** - button audio player ***/

/* hover - button audio player */
main section:nth-of-type(2) section button:hover {
	transform:scale(1.1); 
	-ms-transform:scale(1.1); /* IE 9 */
	-webkit-transform:scale(1.1); /* Safari 3-8 */
}

/*** media query - tweede section ***/
@media (min-width:50em) {
	main section:nth-of-type(2) {
		padding-right:1em;
	}
		
	main section:nth-of-type(2) section {
		grid-template-columns:14em max-content 1fr max-content;
	}

	main section:nth-of-type(2) section h3 {
		grid-column-end:4;
	}

	/* logo */
	main section:nth-of-type(2) section img:nth-of-type(1) {
		grid-column-start:4;
	}

	/* willemijn */
	main section:nth-of-type(2) section img:nth-of-type(2) {
		grid-row-end:4;
	}

	/* scrolling text */
	main section:nth-of-type(2) section marquee {
		grid-column-end:5;
	}

	/* button */
	main section:nth-of-type(2) section button {
		grid-column-start:2;
		margin-top:1em;
		margin-left:1em;
		margin-bottom:2.5em;
	}

	/* button img */
	main section:nth-of-type(2) section button img:nth-of-type(1) {
		margin:0.7em;
	}

	/* audio img */
	main section:nth-of-type(2) section img:nth-of-type(3) {
		grid-column-start:3;
		grid-column-end:5;
	}
}

@media (min-width:85em) {
	main section:nth-of-type(2) {
		margin:3em;
		padding-right:7em;
	}

	main section:nth-of-type(2) h3 {
		padding-left:0.8em;
	}
}

/************** derde section **************/
main section:nth-of-type(3) {
	margin:2em;
	padding-right:1.5em;
} 

/* titel derde section */
main section:nth-of-type(3) h2 {
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
	color:var(--text-kopjes);
	font-size:1.8em;
	margin-top:2em;
} 

/*** media query - derde section ***/
@media (max-width:50em) {
	iframe {
		width:22.799999999999997em;
		height:12.899999999999999em;
	}
}

@media (min-width:50em) {
	iframe {
		width:48em;
		height:28em;
	}
}

@media (min-width:85em) {
	main section:nth-of-type(3) {
		margin:3em;
	} 
	
	iframe {
		width: 100%;
		height: initial;
		aspect-ratio: 4/2.5;
	}
}
	
/************** eerste aside **************/
main aside:nth-of-type(1) {
	margin:2em;
	margin-bottom:2em;
}

/* titel van eerste aside */
main aside:nth-of-type(1) h2 {
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
	color:var(--text-kopjes);
	font-size:1.8em;
	margin-top:2em;
}

/* linkje: kukuru boekenkast */
main aside:nth-of-type(1) a {
	color:var(--text-kopjes);
	text-decoration:none;
	font-weight:900;
	outline-color:var(--active-text);
	position:relative;
	transition:color .5s;
}

main aside:nth-of-type(1) p a:first-child {
	outline:none;
}

/*** states - kukuru boekenkast linkje ***/

/* hover - kukuru boekenkast linkje */
main aside:nth-of-type(1) p a:first-child:hover {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-weight:900;
}

/* focus - kukuru boekenkast linkje */
main aside:nth-of-type(1) p a:first-child:focus {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-weight:900;
}

/* active - kukuru boekenkast linkje */
main aside:nth-of-type(1) p a:first-child:active {
	color:var(--active-text);
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-weight:900;
}

/* alle 3 de boeken */
main aside:nth-of-type(1) ul {
	display:grid;
	list-style:none;
	margin:0;
	padding:0;
	gap:2em;
}

/* lijstje van één boek */
main aside:nth-of-type(1) ul li {
	display:flex;
	gap:1em;
}

main aside:nth-of-type(1) ul li > a {
	order:-100;
}

/* afbeelding van boek */
main aside:nth-of-type(1) ul img {
	width:12em;
    max-width:100%;
}

/*** states - afbeelding boek ***/

/* hover - foto van boek */
main aside:nth-of-type(1) ul img:hover {
	transform:scale(1.02); 
	-ms-transform:scale(1.02); /* IE 9 */
	-webkit-transform: scale(1.02); /* Safari 3-8 */
}

/* titel van boek */
main aside:nth-of-type(1) h3 {
	font-family:"Roboto", Arial, Helvetica, sans-serif; 
	color:var(--text-kopjes);
	margin:0;
}

/* rating */
main aside:nth-of-type(1) > ul p:nth-of-type(1) {
	color:var(--sterren-rating);
}

/* prijs */
main aside:nth-of-type(1) > ul p:nth-of-type(2) {
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
    font-weight:600;
	color:var(--prijs-kleur);
}

/* voorraad info */
main aside:nth-of-type(1) > ul p:nth-of-type(3) {
	color:var(--voorraad-info);
}

/* link naar bol.com */
main aside:nth-of-type(1) div a {
	color:var(--text-boeken);
    background-color:var(--background-button);
    font-size:1em;
    border-radius:0.3em;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
	border:1px solid transparent;
    padding:0.5em 1em;
}

/*** states - link naar bol.com ***/

/* hover - link naar bol.com */
main aside:nth-of-type(1) div a:hover {
	background-color:var(--active-text);
}

/* active - link naar bol.com */
main aside:nth-of-type(1) div a:active {
	background-color:var(--active-text);
}

/* focus - link naar bol.com */
main aside:nth-of-type(1) div a:focus {
	background-color:var(--active-text);
}

/*** media query - eerste aside ***/
@media (min-width:85em) {
	main aside:nth-of-type(1){
		margin:3em;
	}
}

/************** tweede aside **************/
main aside:nth-of-type(2) {
	margin:2em;
	cursor:pointer;
}

main aside:nth-of-type(2) h2 {
	position:absolute;
	clip:rect(0,0,0,0);
}

/*** states - banner storytell ***/

/* hover - banner storytell */
main aside:nth-of-type(2) img:hover {
	transform:scale(1.02); 
	-ms-transform:scale(1.02); /* IE 9 */
	-webkit-transform:scale(1.02); /* Safari 3-8 */
}

/************** vierde section **************/
main section:nth-of-type(4) {
	margin:2em;
	padding-bottom:2em;	
}

/* titel vierde section */
main section:nth-of-type(4) h2 {
	font-family:"Amaranth", Arial, Helvetica, sans-serif;
    color:var(--kop-site);
	margin-top:2em;
}

/* lijstje van social icons */
main section:nth-of-type(4) ul {
	font-family:"Roboto", Arial, Helvetica, sans-serif; 
	list-style:none;
	display:flex;
	gap:1em;
	padding-left:0em;
}

main section:nth-of-type(4) ul li {
	width:3em;
}

main section:nth-of-type(4) ul li a {
	outline-color:var(--active-text);
}

/* foto's van social icons */
main section:nth-of-type(4) ul li img {
	max-width:20em;
	width:100%;
}

/*** states - vierde section ***/

/* hover - podcast delen */
section:nth-of-type(4) ul li img:hover {
	transform:scale(1.1); 
	-ms-transform:scale(1.1); /* IE 9 */
	-webkit-transform:scale(1.1); /* Safari 3-8 */
}

/*** media query - vierde section ***/
@media (min-width:85em) {
	main section:nth-of-type(4) {
		margin:3em;
		padding-bottom:2em;	
	}
}










