/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
/* header > nav */
	--color-text-nav-open:rgb(158,22,131);
	--color-text-nav-sluit:rgb(255, 255, 255);
	--button-kleur:#ff49dc;
	--color-background-nav:rgb(255, 255, 255);
	--background-color-article: rgb(237,237,237);
	--datum-color:rgb(122,122,122);
	--shaduw-nav:rgb(102 102 102 /.5);
	--h1-color:rgb(158,22,131);
	--h2-color:rgb(62,62,62);
	--footer-background:rgb(46,46,46);
	--color-footer:rgb(183, 182, 182);
	--color-footer2:rgb(243, 243, 243);
}

body {
	margin:0;
}


/**********/
/* HEADER */
/**********/

/****************/ /* Header */ /****************/
header {
	display:flex;
	top:0;
	position:sticky;
	padding:1em;
	justify-content: space-between;

	background:var(--color-background-nav);
}

header img {
	width:100%;
	max-width:11em;
}

/****************/ /* Header > Nav */ /****************/
header > button {
	display: flex;
	align-items: center;
	gap: 1em;
	background-color:var(--button-kleur);
	padding:1em;
	border-radius: 0.3em;
	text-decoration: none;
	max-width:8em;
	color:var(--color-text-nav-sluit);
	text-transform: uppercase;
	font-weight: bold;
	order:100;
  }

header button {
	padding:.5em;

	display:flex;
	align-items:center;
	gap:.25em;

	border:none;
	border-radius:.25em; 
}

header button img {
	height:1em;
  }

header ul {
	list-style:none;
	justify-self:end;
	text-align:right;
}

header li {
	padding-bottom: 1em;
}

header a {
	color:var(--color-text-nav-open);
	text-decoration:none;

}

/****************/ /* Nav */ /****************/
header nav {
	padding:1em;
	width: 85vw;
	
	display:grid;
	align-content:start;
	gap:1.5em;
	
	background-color:var(--color-background-nav);
	
	/* Zeggen dat het vlak van het menu het hele scherm in neemt */
	position:fixed;
	
	top:0;
	bottom:0;
	right:0;
  /*    of
	 inset:0; */
	
  /* Zorgen dat het vlak naar andere kant staat buiten het beeld */
	transform:translateX(100%);
	
	transition:1s;
	z-index:5;
  }

header nav button {
	justify-self:end;

	background-color:var(--button-kleur);
	border-radius: 0.3em;
	text-decoration: none;
	max-width:8em;
	color:var(--color-text-nav-sluit);
	text-transform: uppercase;
	font-weight: bold;
   }

header nav.open {
    transform: translateX(0%);
}


/****************/ /* Header > Div */ /****************/
header div {
	position: fixed;
	inset:0;
	background-color:var(--shaduw-nav);
	  
	opacity:0;
	
	/* De div luistert niet naar de kliks dus je kunt er nu wel met dit erbij op klikken op de menu knop */
	pointer-events:none;
	transition:.5s;
}

header div.open {
	opacity:1; 
  /*   Er mag weer op geklikt worden */
	pointer-events:all;
}


/* Breakpoint 2: 3 columns */ 
@media (min-width:85em) {

	/* header */
	header {
		padding:0;
		top:0;
		position:sticky;
		justify-content: space-between;
		align-items: center; 
	}

	header nav {
		position:relative;
		background-color: transparent;
		transform: translateX(0);
		padding: 0em 11em;
	}

	header img {
		position: absolute;
		top: 0.6em;
		left: 10em;

		width:100%;
		max-width:17em;
	}

	header button {
		display:none;
	}

	header li {
		padding-bottom: 0em;
	}

	header ul {
		display: flex;
		gap: 2.5em;
		list-style: none;
	}

	header nav ul li a {
		font-weight: bold;
	}

}

/**********/
/* H1 / h2 / h3 / h4  */
/**********/
h1 {
	font-family: "Amaranth", Arial, Helvetica, sans-serif;
	font-size: 2em;
	color:var(--h1-color);
}

h2 {
	font-family: "Roboto bold", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color:var(--h2-color);
}

/**********/
/* P-tekst */
/**********/
p {
	font-family: "Roboto regular", Arial, Helvetica, sans-serif;
}

article > p:nth-of-type(1) {
	color:var(--datum-color);
	font-weight:600;

}

/**********/
/* Linkjes */
/**********/
a {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/**********/
/* FOOTER */
/**********/

/****************/ /* Footer */ /****************/

footer {
	background-color:var(--footer-background);
	padding: 2em;
}

footer section {
	padding-left: 9em;
	padding-right:4em;
}

footer > nav ul {
	display:flex;
	list-style:none;
	justify-content: center;
	text-decoration: none;
	gap:1em;
}

footer nav ul {
	list-style: none;
	padding-left: 0;
}

footer nav  ul li {
	padding-bottom: 1em;
}

footer img {
		width: 100%;
		max-width:2em;
	}

footer p {
	color:var(--color-footer);
	text-align: center;
}

footer a{
	color:var(--color-footer);
	text-decoration: none;
}

footer button {
	background-color:var(--button-kleur);
	padding:1em;
	border-radius: 0.3em;
	text-decoration: none;
	max-width:8em;
	color:var(--color-text-nav-sluit);
	text-transform: uppercase;
	font-weight: bold;
	border:none;
}


/* Breakpoint: footer */ 
@media (max-width:45em) {

	footer section {
		padding-left: 0em;
		padding-right: 0em;
	}

	footer > section > nav:nth-of-type(1) {
		display:none;
	}

	footer > section > nav:nth-of-type(2) {
		text-align: center;
	}

	footer section > section {
		display:none;
	}

}

@media (min-width:45em) {

	footer > section {
		display:grid; 
		grid-template-columns:1fr 1fr 3fr;
		gap:1em;
		text-align: left;
	}

 	footer section > section {
		font-family: "Amaranth", Arial, Helvetica, sans-serif;
		font-size: 1.3em;
		color:var(--color-footer2);
		text-align:right;
	}

	footer section > section form {
		padding-bottom: 1em;
	}

	footer input[type="text"] {
		padding:1em;
	}
}
